.about {
  padding: 4rem 6rem;
  background: #ffffff;
  color: #ffff;
}

.aboutus {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutus div {
  flex-basis: calc(33.33% - 20px);
  margin: 10px;
  padding: 20px;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgb(135, 23, 209) 0%
  );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.aboutus h1 {
  font-size: 2.3rem;
  padding: 0.5rem 0 0.8rem 0;
  font-family: I;
  font-style: oblique;
  background-color: rgb(169, 37, 192);
  color: #0f0f0f;
  margin: 0;
}

.aboutus h1:hover {
  color: rgba(49, 27, 122, 0.738);
}
.aboutus p {
  font-size: 1.5rem;
  padding: 1rem 0;
  font-family: b;
  font-style: italic;
  margin: 0;
  color: rgb(13, 13, 13);
  font-weight: bold;
}

@media screen and (max-width: 850px) {
  .about {
    padding: 1rem 1rem;
  }

  .aboutus div {
    flex-basis: calc(100% - 20px);
  }
}
